*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
  background-color: rgb(66, 95, 69);
}
label.logo img{
  width: 200px;
  padding: 5px 100px;
  line-height: 80px;
}
body{
  font-family: montserrat;
}
nav{
  height: 80px;
  width: 100%;
  background-color:#3d342b ;
 
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav li{
  display: inline-block;
  margin: 0 5px;
  line-height: 80px;
}
nav a {
  color:rgb(255, 145, 0);
  font-size: 18px;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
  color:#EFE8D9;
}
a.active,a:hover{
  border: 1px solid rgb(255, 255, 255);
  transition: .5s;
}
nav #icon{
  color:rgb(255, 145, 0);
  font-size: 30px;
  line-height: 80px;
  float:right;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:rgba(255, 255, 255, 0.858);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
select{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(66, 95, 69);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
}
select:hover{
    background-color: rgb(205, 248, 167);
    color: rgb(0, 0, 0);
    transition: .5s;
}
.who-us{
 
  padding: 20px 50px;
  background-color: rgb(66, 95, 69);
} 
.who-us p{
  color: rgb(231, 231, 231);
  font-size: 1.5em;
}
.who-us img{
  width: 500px;
}
 

@media(max-width:1048){
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}
@media(max-width:909px){
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:#3d342b ;
    top: 80px;
    left:-100%;
    text-align: center;
    transform: all .5s;

  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 2.2em;
  }
  a.active,a:hover{
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(66, 95, 69);
  }
  nav ul.show{
    left: 0;

  }
  label.logo img{
    width: 200px;
    padding: 0 50px;
  }
  .who-us p{
    font-size: 1.8em;
  }
  .who-us img{
    width: 325px;
  }
  select{
      width: 200px;
      height: 50px;
      font-size: 20px;}

}
